<fieldset>
        <legend>Edit Game</legend>

        <!-- IMAGE -->

        <!-- PUT CODE FOR THE GAME IMAGE HERE -->


        <!-- TITLE -->
        <div class='form-group'>
            <label for='playlist-title'>Game</label><br>
            <input class='form-control' id='game_name' type='text' name='game_name' value='{{ game.title }}'/>
        </div>
    
        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='description'>Players out</label><br>
            <input class='form-control' id='players_out' type='text' name='players_out' value='{{ game.players_out }}' />
        </div>
    
    </fieldset>