<!doctype html>
<html lang="en">
{% extends 'base.html' %}
    
{% block content %}

        <div class="card text-center mx-auto w-25">
            <div class="card-header">
                Patriots V Ravens
            </div>
            <div class="card-body">
                <li>Player 1 out</li>
                <li>Player 2 out</li>
                <li>Player 3 out</li>
            </div>
            <div class="card-footer text-muted">
                Sunday Nov 3rd
            </div>
        </div>

{% endblock %}
</html>
