<!doctype html>
<html lang="en">
 {% extends 'base.html' %}



    <!-- <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="index.html">Who's in Who's Out</a>

                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <a  href="game.html" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Games</a>
                    </form>
                </div>
        </nav>
    </div> -->
{% block content %}

    
    <h1 class="text-center">Whos in Whos Out</h1>

    <ul class="text-center">
        <a href="/nfl" class="btn btn-primary">NFL</a>
        <a href= "/nba" class="btn btn-primary">NBA</a>
        <a href="/mlb" class="btn btn-primary">MLB</a>
        <a href="/nhl" class="btn btn-primary">NHL</a>
    </ul>

    <h2 class="text-center font-weight-lighter">Featured Games</h2>

    <div class="jumbotron">
        <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="static/placeholder.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Players Out</h5>
                        <ul>
                            <p>Player 1 out</p>
                            <p>Player 2 out</p>
                            <p>Player 3 out</p>
                        </ul>
                        <a href="/game" class="btn btn-primary">See Game</a>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="static/placeholder.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Players Out</h5>
                        <ul>
                            <p>Player 1 out</p>
                            <p>Player 2 out</p>
                            <p>Player 3 out</p>
                        </ul>
                        <a href="/game" class="btn btn-primary">See Game</a>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="static/placeholder.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Players Out</h5>
                        <ul>
                            <p>Player 1 out</p>
                            <p>Player 2 out</p>
                            <p>Player 3 out</p>
                        </ul>
                        <a href="/game" class="btn btn-primary">See Game</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="static/placeholder.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Players Out</h5>
                        <ul>
                            <p>Player 1 out</p>
                            <p>Player 2 out</p>
                            <p>Player 3 out</p>
                        </ul>
                        <a href="/game" class="btn btn-primary">See Game</a>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="static/placeholder.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Players Out</h5>
                        <ul>
                            <p>Player 1 out</p>
                            <p>Player 2 out</p>
                            <p>Player 3 out</p>
                        </ul>
                        <a href="/game" class="btn btn-primary">See Game</a>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="static/placeholder.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Players Out</h5>
                        <ul>w
                            <p>Player 1 out</p>
                            <p>Player 2 out</p>
                            <p>Player 3 out</p>
                        </ul>
                        <a href="/game" class="btn btn-primary">See Game</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>

{% endblock %}
